@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Space Mono', monospace; */
}
* a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: hsla(0, 0%, 0%, .5);
    /* background-blend-mode: multiply; */
    /* mix-blend-mode: difference; */
    
    position: fixed;
    z-index: 2;
    top: 0;
    min-height: 8vh;
    width: 100vw;
}
nav a {
    font-size: 1.2em;
    color: hsl(0, 0%, 85%);
    margin: 1vw;
    margin-right: 2em;
}

#welcome-section {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: white;
    background-color: hsla(0, 0%, 0%, 0.6);
    text-shadow: 0 0 10px black;
}
#welcome-section video {
    z-index: -100;
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}



#projects {
    display: flex;
    flex-direction: column;
    background-image: url("background/projectsbg1.jpg");
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto fit, minmax(200px, 1fr));
}
/* note: 
- add parralax effect from webdev & traversy for welcome section (possibly could be used for the rest)
- make the navbar almost transparent (opacity low + multiply) to make it like stylish-elegant-expensive website 
- make the background of welcome section a sci-fi compute-y digital like gif/animation*/