@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    background-color: hsl(0, 0%, 20%);
    
    position: fixed;
    top: 0;
    min-height: 8vh;
    width: 100vw;
}
nav a {
    text-decoration: none;
    font-size: 1.2em;
    color: hsl(0, 0%, 85%);
    margin: 1vw;
    margin-right: 2em;
}

#welcome-section {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
}


/* note: 
- add parralax effect from webdev & traversy for welcome section (possibly could be used for the rest)
- make the navbar almost transparent (opacity low + multiply) to make it like stylish-elegant-expensive website 
- make the background of welcome section a sci-fi compute-y digital like gif/animation*/